.todo_first{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgba(255, 255, 255,.8);
    margin-top: 0;
}

.todo_img{
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
}




.todo_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.todo_h1{
    font-weight:500;
    color: rgba(0, 0, 0,.8);
}

.todo_h1_span{
    font-weight: 500;
    color: rgba(0, 0, 0,.7);
}

.todo_input{
    height: 30px;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    padding: 15px;
}

.todo_input:focus{
    background: transparent;
    box-shadow: none;
    border: 1px solid rgba(221, 221, 212,.7);
    box-shadow:  0 0 10px 2px black;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.todo_update,
.todo_save{
    background-color: rgb(19, 109, 42);
    outline: none;
    border: none;
}

.todo_update:hover,
.todo_save:hover{
    background-color: rgb(19, 172, 19);
    color: rgba(0, 0, 0,.8);
}

.todo_cancel,
.todo_delete{
    outline: none;
    border: none;
    background-color: rgb(237, 58, 27);
    color: rgb(255, 255, 255,.9);
}

.todo_cancel:hover,
.todo_delete:hover{
    background-color: rgb(247, 105, 83);
    color: rgba(0, 0, 0,.8);
}

.todo_table{
    border-color: rgba(34, 30, 30,.7);
}

th{
    text-align: center;
}

.todo_btn{
    text-align: center;
}

.todo_double{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
